{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/single-post.css" %}">
{% endblock %}

{% block page_title %}
    Blog - List
{% endblock %}

{% block page_content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/portrait.webp" %}" alt="Python blog">
            <h2>Blog//Learn Python</h2>
        </header>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos in unde asperiores reprehenderit facilis. Sed veritatis vel consequatur pariatur enim error, architecto voluptate totam quia, tenetur porro, animi dolorum.</p> 
    </section>

    <section id="latest-posts">
        <h2>Latests</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/single-post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nemo est esse enim quos pariatur similique optio. Distinctio esse tempora consectetur exercitationem perferendis error neque quisquam eaque placeat, magnam quas!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nemo est esse enim quos pariatur similique optio. Distinctio esse tempora consectetur exercitationem perferendis error neque quisquam eaque placeat, magnam quas!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nemo est esse enim quos pariatur similique optio. Distinctio esse tempora consectetur exercitationem perferendis error neque quisquam eaque placeat, magnam quas!</p>
    </section>
{% endblock %}